.MuiButton-textPrimary {
  color: #cae15a !important;
}
.css-e0r9tj-MuiTypography-root {
  color: #cae15a !important;
}
.css-nl6has .MuiButton-root.cancel {
  color: red !important;
}
.css-nl6has .MuiButton-root.cancel:hover,
.css-nl6has .MuiButton-root.delete:hover {
  /* background-color: rgba(144, 144, 144, 0.408) !important; */
  background-color: rgb(195, 217, 86) !important;
}
.css-nl6has .MuiButton-root.delete {
  color: #d32f2f !important;
}
.css-elo8k2-MuiInputAdornment-root {
  display: none !important;
}
/* .css-1dune0f-MuiInputBase-input-MuiOutlinedInput-input {
  display: none !important;
} */

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2),
    0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  padding: 20px;
  width: 400px;
}

.dialog-title {
  margin: 0;
  font-size: 1.5em;
}

.dialog-content {
  margin: 20px 0;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
}

.form-group input {
  width: 95%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.date-time {
  display: flex;
  justify-content: space-between;
}
.date-time div {
  flex: 1;
  margin-right: 10px;
}

.date-time div:last-child {
  margin-right: 0;
}

.calendar-icon {
  margin-left: 8px;
  cursor: pointer;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.cancel-button,
.add-button {
  margin-left: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f0f0f0;
}

.add-button {
  background-color: #cae15a;
  color: white;
}

.cancel-button:hover,
.add-button:hover {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: bold;
}

.rs__event__item {
  height: 100% !important;
  width: 100% !important;
}
